.outputScreen{
  font-size: 29px;
  font-family: Digital;
  color: #000;
  background-color: #87CEEB;
  margin: 15px;
  padding-bottom: 2px;
  border: 2px solid #F5F5DC;
  text-align: right;
  line-height: 35px;
}
