@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}
* {
  font-family: "Digital";
}
#root {
  font-family: "Digital";
}
.app {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}
.App-header {
  background-color: #282c34;
  /* height: 100px; */
  padding: 10px;
  color: #F8F8F8;
  position: fixed;
  width: 100%;
}
.App-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
}
footer {
  position: fixed;
  bottom: 0%;
  padding-bottom: 0.2em;
  width: 100%;
  background-color: #282c34;
  color: #F8F8F8;
  text-align: center;
  font-size: 30px;
  letter-spacing:3px;
}
body{
  font-family: "Digital";
  background-color: #708090;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select:none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/* .calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
} */
.calculator {
  border: 3px solid #47476b;
  padding: 5px;
  background-color: #000;
  width: 320px;
  position: relative;
}
